/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
    font-family: 'asn-t';
	font-weight: normal;
	font-style: normal;
    src: url('../../font/AppleSDGothicNeoT.ttf');
}

@font-face {
    font-family: 'asn-ul';
    src: url('../../font/AppleSDGothicNeoUL.ttf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'asn-l';
    src: url('../../font/AppleSDGothicNeoL.ttf'); /* IE9 Compat Modes */
    /* unicode-range: U+AC00-U+D7A3; */
    /* unicode-range: U+0041-005A, U+0061-007A; */
}


@font-face {
    font-family: 'asn-m';
    src: url('../../font/AppleSDGothicNeoM.ttf');
	font-weight: normal;
}

@font-face {
    font-family: 'asn-sb';
    src: url('../../font/AppleSDGothicNeoSB.ttf');
	font-weight: normal;
}

@font-face {
    font-family: 'asn-eb';
    src: url('../../font/AppleSDGothicNeoEB.ttf');
	font-weight: normal;
}


@font-face {
    font-family: 'asn-b';
    src: url('../../font/AppleSDGothicNeoB.ttf');
	font-weight: normal;
}


@font-face {
    font-family: 'asn-h';
    src: url('../../font/AppleSDGothicNeoH.ttf');
	font-weight: normal;
}


*{
	box-sizing: border-box;
	padding:0; margin:0;
	font-family: 'asn-l', 'asn-b', 'asn-t', 'asn-m', 'asn-ul', 'asn-sb', 'asn-eb', 'asn-h';
}

.apple_font_100 {
	font-family: 'asn-t';
}

html{
	font-size: 62.5%;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {border: 0; word-break: keep-all;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}

body {
	line-height: 1.5;
	width: 100%; height: 100%;
	/* max-width: 2560px; margin: 0 auto; */
}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
a{ text-decoration: none; color: #000;}
img {vertical-align: top;}
i {font-style: normal;}
p::first-line {}
p::first-letter {}


.h_2depth_color {
	color: #939598;
}

.ponit_color_main {
	color:#3bb0e2
}
.ponit_color_sub_01 {
	color: #1e3c5a;
}


/* scroll_bar */
/* 
*::-webkit-scrollbar {width: 5px;}
*::-webkit-scrollbar-thumb {background-color: #005baa;}
*::-webkit-scrollbar-track {background-color: transparent;}
*/


/* scroll_bar_iex */
/*
html {
    scrollbar-width: 3px;
    scrollbar-track-color: transparent;
    scrollbar-arrow-color: #fff;
    scrollbar-base-color: transparent;
    scrollbar-face-color: #005baa;
    overflow-x: hidden;
}
*/


/* --------------------Tag-------------------- */


/* --------------------Class-------------------- */
.pc_only {display: block;}
.ta_only {display: none;}
.mo_only {display: none;}



















/* media br */
@media (max-width: 1440px) {
	/* html{font-size: 50% !important;} */
	.pc_only {display: block !important;}
	.ta_only, .mo_only {display: none !important;}
	/* default */
}

@media (max-width: 1023px) {
	.pc_only, .ta_only {display: block !important;}
	.mo_only {display: none !important;}
	/* default */
}

@media (max-width: 767px) {
	/* html{font-size: 44% !important;} */
	.pc_only {display: none !important;}
	.ta_only, .mo_only {display: block !important;}
	/* default */
}

@media (max-width: 479px) {
	/* html {font-size: 37.5% !important;} */
    .pc_only, .ta_only {display: none !important;}
	.mo_only {display: block !important;}
	/* default */
}


