  // ====================================1440====================================

  @media (max-width: 1440px) {
      
  }





  // ====================================1023====================================
  @media (max-width: 1023px) {}



  // ====================================767====================================
  @media (max-width: 767px) {
      .table_wrap {
          .table_header {
              .table_company_select {
                  display: none;

                  .search_form {
                      fieldset {
                          legend {}

                          .form_01_title {}

                          .form_01_selectbox {
                              select {}
                          }
                      }
                  }
              }

              .table_text_search {
                  margin-top: 3rem;
                  width: 100%;

                  .search_form {
                      width: 100%;

                      fieldset {
                          width: 100%;

                          .form_02_selectbox {
                              display: flex;
                              width: 100%;

                              select {}

                              input[type=text] {
                                  margin-left: 1.5rem;
                                  flex: 2;
                              }

                              input[type=submit] {
                                  margin-left: 1.5rem;
                              }
                          }
                      }
                  }
              }

          }

          .table_notice {

              thead {

                  tr {
                      th {
                          &:nth-of-type(1) {}

                          &:nth-of-type(1) {}

                          &:nth-of-type(2) {}

                          &:nth-of-type(3) {}

                          &:nth-of-type(4),
                          &:nth-of-type(5) {}
                      }

                  }
              }

              tbody {
                  tr {
                      td {
                          &:nth-child(2) {
                              span {}
                          }

                          &:nth-child(1) {}

                          &:nth-child(3) {}
                      }

                      .notice_download {
                          a {
                              display: block;

                              img {
                                  width: 15px;
                              }
                          }
                      }
                  }

                  &.active {}
              }




          }

          .table_notice_more {
              >a {}
          }
      }
  }


  // ====================================479====================================
  @media (max-width: 479px) {

      // 479
      .table_wrap {
          .table_header {
              .table_company_select {
                  .search_form {
                      fieldset {
                          legend {}

                          .form_01_title {}

                          .form_01_selectbox {
                              select {}
                          }
                      }
                  }
              }

              .table_text_search {
                  .search_form {
                      fieldset {
                          .form_02_selectbox {
                              select {}

                              input[type=text] {}

                              input[type=submit] {}
                          }
                      }
                  }
              }

          }

          .table_notice {
              table-layout: auto;

              thead {
                  tr {
                      th {
                          padding: 2rem;

                          &:nth-of-type(1),
                          &:nth-of-type(3),
                          &:nth-of-type(4) {}

                          &:nth-of-type(2) {
                              width: auto;
                          }
                      }

                  }
              }

              tbody {
                  tr {
                      td {
                          padding: 20px;
                      }

                      .notice_download {
                          a {}
                      }
                  }

                  &.active {}
              }




          }


          .table_rec {
              table-layout: auto;

              thead {
                  tr {
                      th {

                          &:nth-of-type(1),
                          &:nth-of-type(4),
                          &:nth-of-type(5) {
                              width: auto;
                          }

                          &:nth-of-type(2) {
                              width: auto;
                          }

                          &:nth-of-type(3) {
                              width: auto;
                          }
                      }

                  }
              }

              tbody {
                  tr {
                      td {
                          padding: 20px;

                          &:nth-child(2) {
                              span {}
                          }

                          &:nth-child(3) {}
                      }

                      .notice_download {
                          a {}
                      }
                  }

                  &.active {}
              }




          }
      }
  }