@mixin max-width($width) {
    max-width: $width;
    margin: 0 auto;
}

@mixin layoutBoxColor {
    border: 2px solid #f00;
}

@mixin header-height {
    height: 70px;
}

@mixin header-height-1100 {
    height: 60px;
}


@mixin absolute-left($left, $top) {
    position: absolute;
    left: $left;
    top: $top;
    transform: translateX(-$left);
}

@mixin absolute-top($left, $top) {
    position: absolute;
    left: $left;
    top: $top;
    transform: translateY(-$top);
}

@mixin visual-text($fs) {
    width: 100%;
    height: 100%;
    font-size: $fs;
    color: #fff;
    font-family: "asn-t";
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.25;
    letter-spacing: -0.64px;
    text-transform: uppercase;
}

@mixin sub-menu-bar($height, $margin) {
    content: '';
    display: inline-block;
    width: 1px;
    height: $height;
    background: #7bcef1;
    margin-left: $margin;
}

@mixin sub-page-title($fs) {
    font-size: $fs;
    letter-spacing: -0.4px;
    color: #1e3c5a;
    font-family: "asn-sb";
    margin-top: 100px;
    text-align: center;
}

@mixin margin-top-1920() {
    margin-top: 100px;
}

@mixin margin-bottom-1920() {
    margin-bottom: 100px;
}


// ====================================1440====================================

@media (max-width: 1440px) {}





// ====================================1100====================================
@media (max-width: 1100px) {

    .view_more {
       
        &::after {}
        &:hover {
            &::after {
                height: 100%;
            }
        }
    }
    
    // ==========================header==========================
    #header {
        @include header-height-1100();

        &.active {}

        a {}

        .depth_01 {}

        >.header_wrap {
            padding: 0 10px;

            &:hover {
                background: transparent;
            }

            // logo
            .header_left {
                margin-top: 0;

                a {}
            }

            // center_menu
            .header_center {
                opacity: 0;
                visibility: hidden;
            }

            // header_right 
            .header_right {

                .header_lang {
                    .fixed_lang {
                        .lang_arrow {}
                    }

                    .depth_lang {
                        a {
                            &:hover {}
                        }
                    }

                    &:hover .depth_lang {}

                    &:hover .lang_arrow {}
                }



                // header_sns
                .header_sns {
                    >ul {
                        margin-left: 10px;

                        >li {

                            a {
                                img {}
                            }

                            &:not(:first-child) {}

                            &:hover {}
                        }
                    }
                }


                // header_ham
                .header_ham {
                    margin-left: 25px;

                    &.active {
                        span {}
                    }

                    span {
                        &:nth-of-type(1) {}

                        &:nth-of-type(2) {}

                        &:nth-of-type(3) {}
                    }
                }


                &.active {
                    span:nth-of-type(1) {}

                    span:nth-of-type(2) {}

                    span:nth-of-type(3) {}
                }
            }

            &:hover {
                .header_center {
                    .depth_01 {
                        display: none;
                    }

                    .header_bg {
                        display: none;
                    }
                }
            }

            // full_header
            .header_full {
                &.active {}

                .header_full_wrap {
                    @include layoutBoxColor();
                    margin-top: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    a {
                        &:hover {}
                    }

                    .header_full_list {
                        .depth_01 {
                            width: 100%;

                            >a {
                                padding-top: 15px;
                            }

                            &:nth-child(1) {
                                >a {}
                            }

                            // depth_02
                            .depth_02 {
                                display: none;

                                >li {
                                    >a {
                                        padding: 15px 0 0 15px;
                                    }

                                    // depth_03
                                    .depth_03 {
                                        >li {
                                            >a {
                                                padding: 15px 0 0 15px;

                                                &:hover {}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.active {
            // background: transparent;
        }


    }

    main {
        &.main_wrap {
            .main_section {
                &:not(:first-child) {}
    
                &.main_section_01 {
                    .main_visual_scroll {
                        margin-left: 5%;
                        .bar_warp {
                            height: 200px;
                            span {
                            }
                            .bar_background, .bar_move {
                            }
                            .bar_background {
                            }
                            .bar_move {
                                .bar_dot {
                                }
                            }
                        }
                        .bar_img {}
                    }
    
    
                    .mv_wrap {
                        
                        .mv {
                            &.mv_01 {
                            }
                            &.mv_02 {
                            }
                            &.mv_03 {
                            }
                            .mv_img {
                            }
                            .mv_text {
                                span { 
                                }
                                .text_01 {
                                    i {
                                    }
                                    strong {
                                    }
                                }
                                .text_02 {
                                    margin-top: 15px;
                                }
                                .view_more {
                                    margin-top: 40px;
                                    font-size: 2rem;
                                    letter-spacing: -0.2px;
                                }
                            }
                        }
                    }
                }
            
                &.main_section_02, &.main_section_03 {
                    @include max-width(1100px);
                    .content_wrap {
                        .content_title {
                            padding-top: 90px;   
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            color: #1e3c5a;
    
                            .text_01 {
                                font-size: 6.4rem;
                                font-family: "asn-t";
                                line-height: 1;
                                letter-spacing: -0.64px;
                                strong{
                                font-family: "asn-sb";
                                
                                }
                            }
                            .text_02 {
                                margin-top: 20px;
                                font-family: 'asd-l';
                                font-size: 2rem;
                                line-height: 1.5;
                                letter-spacing: -0.2px;
                            }
                            .text_03 {
                                margin-top: 60px;
                                font-family: 'asd-l';
                                font-size: 3rem;
                                line-height: 1.4;
                                letter-spacing: -0.3px;
                                strong {
                                    font-family: 'asn-b';
                                }
                            }
                        }
                    }
    
                    .content_detail.main_about {
                        margin-top: 70px;
                        display: flex;
                        justify-content: center;
                        figure {
                            position: relative;
                            img {
                                transition: all .3s;
                            }
                            figcaption {
                                position: absolute;
                                left: 0; bottom: 0;
                                font-family : 'asn-sb';
                                font-size: 2.6rem;
                                line-height: 1;
                                letter-spacing: -0.26px;
                                color: #fff;
                                padding: 40px;
    
                            }
                            &:nth-child(odd) {
                                transform: translateY(-20px);
                            }
                            &:hover {
                                img {
                                    box-shadow: 5px 5px 10px #000;
                                }
                            }
                        }
    
                    }
                }
    
                &.main_section_03 {
                    @include max-width(100vw);
                    margin-top: 100px;
                    background: #f4f4f4;
                    .content_wrap {
                    @include max-width(1100px);
                        .main_product {
                            .main_product_wrap {
                                // swiper-button
                                .swiper-button-next, .swiper-button-prev {
                                    width: 37px; height: 73px;
                                    transform: translateY(-50%);
                                }
                                .swiper-button-next {
                                    right: -90px;
                                    background: url("../images/ico/ico_arrow_big_right.png");
                                }
                                .swiper-button-prev {
                                    left: -90px;
                                    background: url("../images/ico/ico_arrow_big_left.png");
                                }
    
                                .swiper_wrap {
                                    position: relative;
                                    margin-top: 77px;
                                    .main_product_slide_01 {
                                        position: relative;
                                        .swiper-wrapper {
                                            .product_01 {
                                                display: flex;
                                                flex-direction: column;
                                                &:hover {
                                                        i{
                                                            img {
                                                            opacity: .5;
                                                        }   
                                                    }
                                                }
                                                img {}
    
                                                .product_text_wrap {
                                                    margin-top: 20px;
                                                    display: flex;
                                                    width: 100%;
                                                    > p {
                                                        width: 100%;
                                                        display: flex;
                                                        flex-direction: column;
                                                        .text_01 {
                                                            font-size: 2.4rem;
                                                            font-family: 'asn-m';
                                                            letter-spacing: -0.24px;
                                                        }
                                                        .text_02 {
                                                            font-size: 1.4rem;
                                                            line-height: 1.5;
                                                            letter-spacing: -0.14px;
                                                        }
                                                    }
                                                    i {
                                                        display: flex;
                                                        align-items: flex-end;
                                                            
                                                        img {
                                                            transition: all .15s;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
    
    
                                .more_text_wrap {
                                    text-align: center;
                                    margin-top: 120px;
                                    padding-bottom: 100px;
                                    .view_more {
                                        font-size: 2rem;
                                        letter-spacing: -0.2px;
                                    }
                                }
                            }
                        }
                    }
    
                }
    
                &.main_section_04 {
                    background: #deeff8;
                    .content_wrap {
                        @include max-width(1100px);
                        height: 100%;
                        padding: 100px 0;
                        .swiper-container.main_product_slide_02 {
                            position: relative;
    
                            .swiper-wrapper {
                                .swiper-slide {
                                    display: flex;
                                    .text_wrap {
                                        .text_01 {
                                            font-family: "asn-eb";
                                            font-size: 4rem;
                                            line-height: 1.05;
                                            letter-spacing: -0.4px;
                                        }
                                        .text_02 {
                                            display: inline-block;
                                            margin-top: 40px;
                                            font-size: 2rem;
                                            line-height: 1.6;
                                            letter-spacing: -0.2px;
                                            font-family: "asn-ul";
                                        }
                                    }
                                    img {
                                        margin-left: 150px;
                                    }
                                }
                            }
    
                        
                            .swiper_navi {
                                position: absolute;
                                left: 0; bottom: 0;
                                .swiper_navi_wrap {
                                    position: relative;
                                    display: flex;                        
                                    .swiper-button-prev, .swiper-button-next {
                                        width: 50px; height: 50px;
                                        position: relative;
                                        right: 0; left: 0;
                                    }
                                    .swiper-button-prev {
                                        background: url('../images/ico/product_02_arrow_left.png');
                                        transition: all .15s;
                                        &:hover {
                                            opacity: .5;
                                        }
                                    }
                                    .swiper-button-next {
                                        background: url('../images/ico/product_02_arrow_right.png');
                                        transition: all .15s;
                                        &:hover {
                                            opacity: .5;
                                        }
                                    }
    
                                    .product_pagination_02 {
                                        position: relative;
                                        width: auto;
                                        margin: 0 20px;
    
                                        .swiper-pagination-current {
                                            font-family: "asn-eb";
                                            font-size: 2.2rem;
                                            color: #6b95ab;
                                        }
                                        .swiper-pagination-total {
                                            color: #92acc5;
                                            font-size: 1.4rem;
                                        }
                                    }
                                }
    
                            }
                            
                        }
                    }
                }
    
    
                &.main_section_05 {
                    margin-top: 100px;
                    .content_wrap {
                        position: relative;
                        @include max-width(1000px);
                        .swiper-container {
                            overflow: visible;
                            .swiper-wrapper {
                                .swiper-slide {
                                    display: flex;
                                    opacity: .4;
                                    transition: .3s;
                                    img {
                                        max-width: 550px;
                                        max-height: 600px;
                                        width: 100%;
                                        object-fit: cover;
                                        margin-left: 40px;
                                    }
                                    figcaption {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: flex-end;
                                        span {
                                            display: block;
                                        }
                                        .text_01 {
                                            font-size: 3.2rem;
                                            font-family: "asn-eb";
                                            line-height: 1.25;
                                            letter-spacing: -0.32px;
                                            color: #414042;
                                        }
                                        .text_02 {
                                            margin-top: 40px;
                                            font-size: 1.6rem;
                                            line-height: 1.5;
                                            letter-spacing: -0.16px;
                                            color: #939598;
                                            .main_event_date {}
                                        }
                                        .text_04.view_more {
                                            display: inline-block;
                                            margin-top: 60px;
                                            font-size: 2rem;
                                            letter-spacing: -0.2px;
                                            &::after {
                                                left: 0;
                                            }
                                        }
                                    }
                                    &.swiper-slide-active {
                                        opacity: 1;
                                    transition: .3s;
                                    }
                                }
                            }
                        }
    
                        .swiper_navi {
                            @include max-width(1100px);
                            @include absolute-left(50%, 0);
                            width: 100%;
                            z-index: 99;
                            .swiper_navi_wrap {
                                display: inline-block;
                                position: relative;
                                .text_wrap {
                                    > p {
                                        display: flex;
                                        flex-direction: column;
                                        .text_01 {
                                            font-size: 6.4rem;
                                            font-family: "asn-t";
                                            color: #1e3c5a;
                                            line-height: 1;
                                            letter-spacing: -0.64px;
                                            strong  {
                                                font-family: 'asn-b';
                                                color: #34b3e8;
                                            }
                                        }
                                        .text_02 {
                                            font-size: 2rem;
                                            line-height: 1.5;
                                            letter-spacing: -0.2px;
                                            color: #1e3c5a;
                                            font-family: 'asd-l';
                                            strong {
                                                font-family: 'asn-b';
                                            }
                                        }
                                    }
                                }
                                .swiper-button-next, .swiper-button-prev {
                                    width: 18px; height: 33px;
                                    transition: all .15s;
                                    &:hover {
                                        opacity: .5;
                                    }
                                }
                                .swiper-button-prev {
                                    left: auto; right: -40px;
                                    background: url('../images/ico/ico_arrow_event_right.png') no-repeat;
                                    transform: rotate(180deg);
                                }
                                .swiper-button-next {
                                    left: auto; right: -80px;
                                    background: url('../images/ico/ico_arrow_event_right.png') no-repeat;
                                }
                            }
                        }
                    }
                }
    
    
                &.main_section_06 {
                    margin-top: 120px;
                    background: #1e3c5a;
                    .content_wrap {
                        > .contact_wrap {
                            display: flex;
                            > div {
                                width: 50%;
                            }
                            .contact_img {
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
    
                            .contact_box {
                                padding: 100px 80px;
                                .box_wrap {
                                    max-width: 550px;
                                    .text_wrap {
                                        display: flex;
                                        flex-direction: column;
                                        margin-left: 12px;
                                        .text_01 {
                                            font-size: 6.4rem;
                                            line-height: 1;
                                            letter-spacing: -0.64px;  
                                            font-family: 'asn-t';
                                            color: #fff;
                                            strong {
                                                color: #34b3e8;
                                                font-family: 'asn-b';
                                            }
                                        }
                                        .text_02 {
                                            margin-top: 40px;
                                            font-size: 2rem;
                                            letter-spacing: -0.2px;
                                            color: #34b3e8;
                                        }
                                    }
    
                                    .form_box {
                                        margin-top: 70px;
                                        .content {
                                            width: 50%;
                                            display: flex;
                                            flex-direction: column;
                                            margin-right: 9px;
                                            label {
                                                font-size: 1.6rem;
                                                letter-spacing: -0.16px;
                                                color: #a4b5c6;
                                            }
                                            input, .inq_box {
                                                background: #567391;
                                                border: none;
                                                height: 40px;
                                                color: #fff;
                                            }
                                        }
                                        .content.full {
                                            width: 100%;
                                        }
                                        .box_01 {
                                            display: flex;
                                            .content:nth-child(even) {
                                                margin-right: 0;
                                            }
                                        }
                                        .box_02 {
                                            margin-top: 20px;
                                            .inq_box {
                                                height: 190px;
                                            }
                                        }
                                        .box_submit {
                                            margin-top: 20px;
                                            .btn_submit {
                                                padding: 27px 70px;
                                                background: #34b3e8;
                                                border: none;
                                                font-size: 1.8rem;
                                                letter-spacing: -0.18px;
                                                color: #fff;
                                                cursor: pointer;
                                                transition: all .3s;
                                                &:hover {
                                                    border-radius: 10px;
                                                    background: rgba($color: #34b3e8, $alpha: .5);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
    
    
            }
        }
    }


    // ==========================footer==========================
    #footer {
        .footer_wrap {
            padding: 40px 5%;

            .content_01 {
                .link_wrap {
                    .footer_link {
                        &:not(:first-child) {}
                        a {}
                    }
                }

                .info_wrap {
                    margin-top: 15px;
                    .footer_info {
                        >a {
                            &:hover {
                            }
                        }

                        &.direction {
                        }

                        &.copyright {
                        }
                    }
                }
            }
        }
    }

}



// ====================================767====================================
@media (max-width: 767px) {
    .table_wrap {
        .table_header {
            .table_company_select {
                display: none;

                .search_form {
                    fieldset {
                        legend {}

                        .form_01_title {}

                        .form_01_selectbox {
                            select {}
                        }
                    }
                }
            }

            .table_text_search {
                margin-top: 3rem;
                width: 100%;

                .search_form {
                    width: 100%;

                    fieldset {
                        width: 100%;

                        .form_02_selectbox {
                            display: flex;
                            width: 100%;

                            select {}

                            input[type=text] {
                                margin-left: 1.5rem;
                                flex: 2;
                            }

                            input[type=submit] {
                                margin-left: 1.5rem;
                            }
                        }
                    }
                }
            }

        }

        .table_notice {

            thead {

                tr {
                    th {
                        &:nth-of-type(1) {}

                        &:nth-of-type(1) {}

                        &:nth-of-type(2) {}

                        &:nth-of-type(3) {}

                        &:nth-of-type(4),
                        &:nth-of-type(5) {}
                    }

                }
            }

            tbody {
                tr {
                    td {
                        &:nth-child(2) {
                            span {}
                        }

                        &:nth-child(1) {}

                        &:nth-child(3) {}
                    }

                    .notice_download {
                        a {
                            display: block;

                            img {
                                width: 15px;
                            }
                        }
                    }
                }

                &.active {}
            }




        }

        .table_notice_more {
            >a {}
        }
    }

    .header_center {
        display: none !important;
    }
}


// ====================================479====================================
@media (max-width: 479px) {

    // 479
    .table_wrap {
        .table_header {
            .table_company_select {
                .search_form {
                    fieldset {
                        legend {}

                        .form_01_title {}

                        .form_01_selectbox {
                            select {}
                        }
                    }
                }
            }

            .table_text_search {
                .search_form {
                    fieldset {
                        .form_02_selectbox {
                            select {}

                            input[type=text] {}

                            input[type=submit] {}
                        }
                    }
                }
            }

        }

        .table_notice {
            table-layout: auto;

            thead {
                tr {
                    th {
                        padding: 2rem;

                        &:nth-of-type(1),
                        &:nth-of-type(3),
                        &:nth-of-type(4) {}

                        &:nth-of-type(2) {
                            width: auto;
                        }
                    }

                }
            }

            tbody {
                tr {
                    td {
                        padding: 20px;
                    }

                    .notice_download {
                        a {}
                    }
                }

                &.active {}
            }




        }


        .table_rec {
            table-layout: auto;

            thead {
                tr {
                    th {

                        &:nth-of-type(1),
                        &:nth-of-type(4),
                        &:nth-of-type(5) {
                            width: auto;
                        }

                        &:nth-of-type(2) {
                            width: auto;
                        }

                        &:nth-of-type(3) {
                            width: auto;
                        }
                    }

                }
            }

            tbody {
                tr {
                    td {
                        padding: 20px;

                        &:nth-child(2) {
                            span {}
                        }

                        &:nth-child(3) {}
                    }

                    .notice_download {
                        a {}
                    }
                }

                &.active {}
            }




        }
    }
}